<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itjing.webmagic.mapper.CrawlerMapper">
    <insert id="addCmsContent" parameterType="com.itjing.webmagic.entity.CmsContentPO">
        insert into cms_content
        (
            contentId,
            title,
            releaseDate,
            content
        )
        values (#{contentId,jdbcType=VARCHAR},
        #{title,jdbcType=VARCHAR},
        #{releaseDate,jdbcType=TIMESTAMP},
        #{content,jdbcType=LONGVARCHAR})
    </insert>
</mapper>