<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itjing.springboot.mapper.PersonInfoMapper">
  <resultMap id="BaseResultMap" type="com.itjing.springboot.entity.PersonInfo">
    <!--@mbg.generated-->
    <!--@Table person_info-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="user_age" jdbcType="INTEGER" property="userAge" />
    <result column="user_address" jdbcType="VARCHAR" property="userAddress" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, user_name, user_age, user_address
  </sql>
</mapper>